.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input[type='text'] {
  width: 68%;
  padding: 0.6rem;
  font-size: 16px;
  margin: 1%;
  height: 3rem;
}

select {
  width: 28%;
  padding: 0.6rem;
  font-size: 16px;
  margin: 1%;
  height: 3rem;
}

#left-panel {
  border: 1px solid black;
  text-align: left;
}
#left-panel  #forecast {
  width: 70%;
  float: left;
}
#left-panel  #weather-icon {
  float: left;
  width: 10%;
  text-align: center;
}
#weather-icon > img {
  border: 1px solid;
}
#left-panel > div, 
#right-panel > div {
  height: 200px;
  text-align: left;
  line-height: 30px;
}
#right-panel {
  border: 1px solid black;
}
#weather-maps{
  height: 150px;
  background-color: #61dafb;
}
i.bi.bi-arrow-left, i.bi.bi-arrow-right {
  cursor: pointer;
}
i.bi.bi-dash, i.bi.bi-arrow-left, i.bi.bi-arrow-right {
  float: left;
  width: 0px;
}
